h1 {
  text-align: center;
}

img {
  width: 4.2rem;
}

.App {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-around;
}

label {
  color: #31475e;
  font-weight: 600;
  text-decoration: underline;
}
